@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One:wght@700 & display=swap');

@import url('https://fonts.googleapis.com/css2? family= Sriracha & display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursiva;
    --font3: 'Sriracha', cursiva;
}

* {
    margin: 0px;
    padding: 0px;
    
}

html, body {
    min-height: 100vh;
    display: block;
    font-family: var(--font1);
}

header {
    color: white;
    background-color: black;
    text-align: center;
    
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family:var(--font1);
    font-size: 7vw;

}

header > p {
    padding: 0px;
    padding-bottom: 50px;
    
}

a {
    
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
    font-style: italic;

}
section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section#img01 {
    background-image: url(flor.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.592);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.422);

}

    section.imagem > p {
    background-color: rgba(0, 0, 0, 0.27);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.444);

    
}

    section#img02 > p {
    background-color: rgba(0, 0, 0, 0.453);
    color: white;
    text-shadow: 1px 1px 1px 1px black;
    padding: 4px 7px 0px 0px

}

section#img02 {
    background-image: url(pagina.jpg);
    background-position: center right;
    background-size: cover;
    background-attachment: fixed;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}

